h1{
    text-align: center;
    font-size:60px;
    text-decoration: white;
    color: rgb(0, 255, 255);

}
img{
    align-items:center;
    align-self: center;
    size: 55px;
    
}
body{
   
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:black;
}
h3{
    text-decoration-color: azure;
    color: rgb(1, 230, 243);
}